* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.para {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.para-bold-default {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.para-bold {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 120%;
}

.header {
  font-family: "Playfair Display", serif;
}

.header-bold {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

body {
  min-height: 100%;
}

#root {
  height: 100%;
}

#root > div {
  background: rgb(35, 94, 111);
  background: linear-gradient(0deg, rgba(35, 94, 111, 1) 0%, #093947 100%);
}

.index-bg {
  background: url("./images/background.png") no-repeat center center;
  background-size: cover;
}

#root > div {
  min-height: 100%;
}

.page-panel {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  padding: 20px;
}

.page-panel.index-page-panel {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.ps-vertical-nav {
  padding-left: 100px;
}

.page-wrapper,
.landing-wrapper {
  height: 100%;
}

.text-truncated,
.text-truncated-parent,
.text-truncated-parent * {
  /* Ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anchor-name {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

.popover {
  z-index: 1029;
}

.navbar-menu {
  color: #eeeeee;
  font-size: 1.5em;
}

.navbar-menu:hover {
  color: #fff;
}

.offcanvas-body {
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

.offcanvas-body-top {
  overflow-y: auto;
  height: 100%;
  flex-wrap: nowrap;
}

.offcanvas-body-top.is-logged-in {
  height: calc(100% - 50px);
}

.offcanvas-body-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.offcanvas-body > div {
  height: 100%;
}

.offcanvas-body .nav-pills .nav-link {
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.offcanvas-body .active.nav-link,
.offcanvas-body .active.nav-link:hover {
  background: #3f51b5;
}

.offcanvas-body .nav-link:hover {
  background: #1a237e;
}

.offcanvas-header .btn-close {
  border-radius: 50%;
}

.square-image {
  display: block;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  width: 100%;
}

.square-image.circle {
  border-radius: 50%;
  background: #fff;
}

.square-image img {
  position: absolute;
  object-fit: cover;
  height: auto;
  min-height: 100%;
  left: 0;
  top: 0;
  border: 0;
  width: 100%;
}

.create-wish-card .card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.create-wish-card .card-img {
  height: 250px;
}

.unfulfilled-wish-card .card-img-top {
  height: 150px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .unfulfilled-wish-card .card-img-top {
    height: 200px;
    object-fit: cover;
  }
}

.unfulfilled-wish-card a {
  text-decoration: none;
  color: inherit;
}

a.card {
  color: inherit;
  text-decoration: none;
}

a.badge {
  color: #fff;
  text-decoration: none;
}

.vertical-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.vertical-nav .nav-pills .nav-link {
  border-radius: 0;
}

.vertical-nav .svg-inline--fa {
  font-size: 1.5em;
}

.vertical-nav .play-button .svg-inline--fa {
  font-size: 1em;
}

.vertical-nav .nav-link.active,
.vertical-nav .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #34a65f;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.wish-card-overlay {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  padding: 3px 5px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 8px;
}

.leaderboard-top-user a {
  text-decoration: none;
  color: inherit;
}

.unredeemed-incentive .img-fluid {
  width: 100%;
}

.btn-xmas-green {
  color: white;
  background-color: #0f8a5f;
  border-color: #087750;
}

.btn-xmas-green:hover {
  color: white;
  background-color: #087750;
  border-color: #046443;
}

.btn-xmas-green:active {
  color: white;
  background-color: #046443;
  border-color: #024e34;
}

.btn-xmas-green:focus {
  color: white;
  background-color: #087750;
  border-color: #046443;
  box-shadow: 0 0 0 0.25rem rgba(24, 160, 112, 0.5);
}

.btn-xmas-green.disabled,
.btn-xmas-green:disabled {
  color: white;
  background-color: #5fb798;
  border-color: #5fb798;
}

.btn-xmas-green-light {
  color: white;
  background-color: #34a65f;
  border-color: #299953;
}

.btn-xmas-green-light:hover {
  color: white;
  background-color: #299953;
  border-color: #1d8545;
}

.btn-xmas-green-light:active {
  color: white;
  background-color: #1d8545;
  border-color: #157238;
}

.btn-xmas-green-light:focus {
  color: white;
  background-color: #299953;
  border-color: #1d8545;
  box-shadow: 0 0 0 0.25rem rgba(41, 187, 136, 0.5);
}

.btn-xmas-green-light.disabled,
.btn-xmas-green-light:disabled {
  color: white;
  background-color: #80d5b7;
  border-color: #80d5b7;
}

.btn-xmas-red {
  color: white;
  background-color: #cc231e;
  border-color: #bb1914;
}

.btn-xmas-red:hover {
  color: white;
  background-color: #bb1914;
  border-color: #a8120c;
}

.btn-xmas-red:active {
  color: white;
  background-color: #a8120c;
  border-color: #920b06;
}

.btn-xmas-red:focus {
  color: white;
  background-color: #bb1914;
  border-color: #a8120c;
  box-shadow: 0 0 0 0.25rem rgba(189, 42, 42, 0.5);
}

.btn-xmas-red.disabled,
.btn-xmas-red:disabled {
  color: white;
  background-color: #d44b47;
  border-color: #d44b47;
}

.play-button {
  border-radius: 50%;
}

.index-play-button {
  position: absolute;
  top: 9px;
  right: 10px;
}

.nav-link.xmas-nav-link {
  color: #0f8a5f;
}

.nav-link.xmas-nav-link:hover {
  color: #087750;
}

.nav-pills .nav-link.xmas-nav-link.active,
.nav-pills .nav-link.xmas-nav-link.active:hover {
  color: #fff;
  background-color: #0f8a5f;
}

.snowfall-wrapper {
  position: relative;
  overflow: hidden;
}

.snowfall-wrapper > .index-bg {
  position: relative;
  z-index: 3;
}

.snowfall-layer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

.snowflake:nth-child(1) {
  --size: 0.11vw;
  --left-ini: 0vw;
  --left-end: -4.3vw;
  left: 5.9vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(2) {
  --size: 0.2vw;
  --left-ini: -3vw;
  --left-end: -9.5vw;
  left: 98vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(3) {
  --size: 0.25vw;
  --left-ini: -5vw;
  --left-end: 1.2vw;
  left: 95vw;
  animation: snowfall 5s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(4) {
  --size: 0.26vw;
  --left-ini: -7vw;
  --left-end: -9.4vw;
  left: 54.9vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(5) {
  --size: 0.18vw;
  --left-ini: 7vw;
  --left-end: -9.5vw;
  left: 75.7vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(6) {
  --size: 0.13vw;
  --left-ini: 1.7vw;
  --left-end: -6vw;
  left: 3.08vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(7) {
  --size: 0.62vw;
  --left-ini: -2.5vw;
  --left-end: 4.5vw;
  left: 56.2vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(8) {
  --size: 0.55vw;
  --left-ini: 4.3vw;
  --left-end: -3.5vw;
  left: 90.7vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(9) {
  --size: 0.4vw;
  --left-ini: -0.7vw;
  --left-end: 8vw;
  left: 11.5vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(10) {
  --size: 0.18vw;
  --left-ini: 2.4vw;
  --left-end: 0vw;
  left: 86.3vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(11) {
  --size: 0.3vw;
  --left-ini: 0.2vw;
  --left-end: -6.4vw;
  left: 41.4vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(12) {
  --size: 0.12vw;
  --left-ini: 6.7vw;
  --left-end: 7.8vw;
  left: 89.2vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(13) {
  --size: 0.6vw;
  --left-ini: 2.9vw;
  --left-end: 0vw;
  left: 5.16vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(14) {
  --size: 0.68vw;
  --left-ini: -9.5vw;
  --left-end: -6.4vw;
  left: 14.2vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(15) {
  --size: 0.02vw;
  --left-ini: -2.2vw;
  --left-end: 7.8vw;
  left: 71.6vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(16) {
  --size: 0.44vw;
  --left-ini: -1.2vw;
  --left-end: -3.3vw;
  left: 71.6w;
  animation: snowfall 5s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(17) {
  --size: 0.26vw;
  --left-ini: -4vw;
  --left-end: -7.9vw;
  left: 17.8vw;
  animation: snowfall 5s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(18) {
  --size: 0.47vw;
  --left-ini: 6.7vw;
  --left-end: 4.8vw;
  left: 12.5vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(19) {
  --size: 0.1vw;
  --left-ini: 7.3vw;
  --left-end: -7vw;
  left: 49vw;
  animation: snowfall 14s linear infinite;
  animation-delay: 0s;
}

.snowflake:nth-child(20) {
  --size: 0.53vw;
  --left-ini: 1.4vw;
  --left-end: -6.4vw;
  left: 97vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(21) {
  --size: 0.69vw;
  --left-ini: 6.4vw;
  --left-end: 4vw;
  left: 77vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(22) {
  --size: 0.37vw;
  --left-ini: -4.1vw;
  --left-end: -4.9vw;
  left: 52.5vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(23) {
  --size: 0.46vw;
  --left-ini: 7.3vw;
  --left-end: 4.6vw;
  left: 5.58vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(24) {
  --size: 0.19vw;
  --left-ini: -0.6vw;
  --left-end: 9.8vw;
  left: 30.2vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(25) {
  --size: 0.65vw;
  --left-ini: -8vw;
  --left-end: -9vw;
  left: 33.2vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(26) {
  --size: 0.39vw;
  --left-ini: 6.3vw;
  --left-end: 2.5vw;
  left: 31.9vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(27) {
  --size: 0.17vw;
  --left-ini: 3.1vw;
  --left-end: 2vw;
  left: 42.2vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(28) {
  --size: 0.2vw;
  --left-ini: 6.5vw;
  --left-end: 4.6vw;
  left: 72vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(29) {
  --size: 0.71vw;
  --left-ini: -3.8vw;
  --left-end: -5.3vw;
  left: 37vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(30) {
  --size: 0.1vw;
  --left-ini: -9.3vw;
  --left-end: -8vw;
  left: 80.7vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(31) {
  --size: 0.64vw;
  --left-ini: 3.5vw;
  --left-end: -3.5vw;
  left: 94vw;
  animation: snowfall 5s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(32) {
  --size: 0.68vw;
  --left-ini: 1.6vw;
  --left-end: -3.8vw;
  left: 76vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(33) {
  --size: 0.68vw;
  --left-ini: 7.5vw;
  --left-end: 8.1vw;
  left: 73.5vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(34) {
  --size: 0.15vw;
  --left-ini: 5.2vw;
  --left-end: -5.9vw;
  left: 0.44vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(35) {
  --size: 0.22vw;
  --left-ini: 8.5vw;
  --left-end: 4.5vw;
  left: 8.28vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(36) {
  --size: 0.27vw;
  --left-ini: -3.8vw;
  --left-end: -5.8vw;
  left: 7.31vw;
  animation: snowfall 5s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(37) {
  --size: 0.1vw;
  --left-ini: 2.2vw;
  --left-end: 9vw;
  left: 1.66vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(38) {
  --size: 0.55vw;
  --left-ini: -0.8vw;
  --left-end: 9.4vw;
  left: 39vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(39) {
  --size: 0.67vw;
  --left-ini: 6.1vw;
  --left-end: 5.6vw;
  left: 95.9vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(40) {
  --size: 0.2vw;
  --left-ini: -0.2vw;
  --left-end: -9.2vw;
  left: 85.8vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(41) {
  --size: 0.42vw;
  --left-ini: 2.5vw;
  --left-end: -4.2vw;
  left: 63.6vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(42) {
  --size: 0.7vw;
  --left-ini: -9vw;
  --left-end: -3.7vw;
  left: 24.6vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(43) {
  --size: 0.42vw;
  --left-ini: 0vw;
  --left-end: 1.7vw;
  left: 30.9vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(44) {
  --size: 0.69vw;
  --left-ini: 5.2vw;
  --left-end: -5.6vw;
  left: 83.6vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(45) {
  --size: 0.1vw;
  --left-ini: -8.6vw;
  --left-end: -5.3vw;
  left: 63.6vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(46) {
  --size: 0.52vw;
  --left-ini: 6.9vw;
  --left-end: -2.18vw;
  left: 24.7vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(47) {
  --size: 0.23vw;
  --left-ini: 4.5vw;
  --left-end: 9.4vw;
  left: 31vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(48) {
  --size: 0.69vw;
  --left-ini: 5.6vw;
  --left-end: -1.9vw;
  left: 83.6vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -7.5s;
}

.snowflake:nth-child(49) {
  --size: 0.63vw;
  --left-ini: -10vw;
  --left-end: 0vw;
  left: 64.7vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(50) {
  --size: 0.26vw;
  --left-ini: -6.7vw;
  --left-end: -2.2vw;
  left: 92.8vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}
