* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  background: #1a237e;
}

#root {
  height: 100%;
}

#root > div {
  min-height: 100%;
}

.page-panel {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  padding: 20px;
}

.ps-vertical-nav {
  padding-left: 100px;
}

.page-wrapper,
.landing-wrapper {
  height: 100%;
}

.text-truncated,
.text-truncated-parent,
.text-truncated-parent * {
  /* Ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anchor-name {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

.popover {
  z-index: 1029;
}

.navbar-menu {
  color: #eeeeee;
  font-size: 1.5em;
}

.navbar-menu:hover {
  color: #fff;
}

.offcanvas-body {
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

.offcanvas-body-top {
  overflow-y: auto;
  height: 100%;
  flex-wrap: nowrap;
}

.offcanvas-body-top.is-logged-in {
  height: calc(100% - 50px);
}

.offcanvas-body-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.offcanvas-body > div {
  height: 100%;
}

.offcanvas-body .nav-pills .nav-link {
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.offcanvas-body .active.nav-link,
.offcanvas-body .active.nav-link:hover {
  background: #3f51b5;
}

.offcanvas-body .nav-link:hover {
  background: #1a237e;
}

.offcanvas-header .btn-close {
  border-radius: 50%;
}

.square-image {
  display: block;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  width: 100%;
}

.square-image.circle {
  border-radius: 50%;
  background: #fff;
}

.square-image img {
  position: absolute;
  object-fit: cover;
  height: auto;
  min-height: 100%;
  left: 0;
  top: 0;
  border: 0;
  width: 100%;
}

.create-wish-card .card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.create-wish-card .card-img {
  height: 250px;
}

.unfulfilled-wish-card .card-img-top {
  height: 150px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .unfulfilled-wish-card .card-img-top {
    height: 200px;
    object-fit: cover;
  }
}

.unfulfilled-wish-card a {
  text-decoration: none;
  color: inherit;
}

a.card {
  color: inherit;
  text-decoration: none;
}

a.badge {
  color: #fff;
  text-decoration: none;
}

.vertical-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.vertical-nav .nav-pills .nav-link {
  border-radius: 0;
}

.vertical-nav .svg-inline--fa {
  font-size: 1.5em;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.wish-card-overlay {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  padding: 3px 5px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 8px;
}
